<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="taystudio.presentasi.presentasi">

    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.VIBRATE" />




    <application
        android:allowBackup="true"
        android:icon="@drawable/mainlogo"
        android:label="Nurdin Qusyaferi"
        android:roundIcon="@drawable/mainlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <service
            android:name=".FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="HOMEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.taystudio.presentasi"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".FormActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".PPTView" />
        <activity android:name=".DetailArticleActivity" />
        <activity android:name=".GalleryDetail" />
        <activity android:name=".VideoDetailActivity"></activity>
    </application>

</manifest>